<!-- _includes/publications_list.html -->
<div class="publications">
  <h2 class="year">2026</h2>
  <ol class="bibliography">
    <li>
      <div class="row">
        <div class="col-sm-3 preview"><img class="preview z-depth-1" src="/assets/img/publication_preview/FairRARI_teaser.png"></div>
        <div id="kariotakis2026fairrari" class="col-sm-8">
          <div class="title">FairRARI: A Plug and Play Framework for Fairness-Aware PageRank</div>
          <div class="author"> <em>E. Kariotakis</em> and A. Konar</div>
          <div class="periodical"><em>International Conference on Machine Learning (ICML), 2026</em></div>
          <div class="links"> 
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
            <a href="https://arxiv.org/pdf/2602.08589" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">Paper</a> 
            <a href="../projects/fairrari_project_page/index.html" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">Project Page</a> 
          </div>
          <div class="bibtex hidden">
            <pre>@inproceedings{kariotakis2026fairrari,
            title={FairRARI: A Plug and Play Framework for Fairness-Aware PageRank},
            author={Kariotakis, Emmanouil and Konar, Aritra},
            booktitle={International Conference on Machine Learning (ICML)},
            year={2026}
          }</pre>
          </div>
        </div>
      </div>
    </li>
  </ol>
  <ol class="bibliography">
    <li>
      <div class="row">
        <div class="col-sm-3 preview"><img class="preview z-depth-1" src="/assets/img/publication_preview/oqc_combined.png"></div>
        <div id="kariotakis2026optimal" class="col-sm-8">
          <div class="title">Optimal Quasi-Clique Detection via Lasry-Lions Double Envelopes</div>
          <div class="author"> <em>E. Kariotakis</em>, A. Bodard, P. Patrinos and A. Konar</div>
          <div class="periodical"><em>International Conference on Acoustics, Speech and Signal Processing (ICASSP), 2026</em></div>
          <div class="links"> 
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
            <a href="https://ieeexplore.ieee.org/abstract/document/11463516" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">Paper</a> 
          </div>
          <div class="bibtex hidden">
            <pre>@inproceedings{kariotakis2026optimal,
            title={Optimal Quasi-Clique Detection Via Lasry-Lions Double Envelopes},
            author={Kariotakis, Emmanouil and Bodard, Alexander and Patrinos, Panagiotis and Konar, Aritra},
            booktitle={ICASSP 2026-2026 IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)},
            pages={416--420},
            year={2026},
            organization={IEEE}
          }</pre>
          </div>
        </div>
      </div>
    </li>
  </ol>

  <h2 class="year">2025</h2>
  <ol class="bibliography">
    <li>
      <div class="row">
        <div class="col-sm-3 preview"><img class="preview z-depth-1" src="/assets/img/publication_preview/FADSG_story.png"></div>
        <div id="kariotakis2025fairnessaware" class="col-sm-8">
          <div class="title">Fairness-Aware Dense Subgraph Discovery</div>
          <div class="author"> <em>E. Kariotakis</em>, N. D. Sidiropoulos and A. Konar</div>
          <div class="periodical"> <em>Transactions on Machine Learning Research (TMLR), 2025</em> </div>
          <div class="links"> 
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
            <a href="https://openreview.net/forum?id=7rqV7Cb67L" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">Paper</a> 
          </div>
          <div class="bibtex hidden">
            <pre>@article{kariotakis2025fairness,
            title={Fairness-Aware Dense Subgraph Discovery},
            author={Kariotakis, Emmanouil and Sidiropoulos, Nicholas D and Konar, Aritra},
            journal={Transactions on Machine Learning Research},
            year={2025}
          }</pre>
          </div>
        </div>
      </div>
    </li>
  </ol>

  <h2 class="year">2024</h2>
  <ol class="bibliography">
    <li>
      <div class="row">
        <div class="col-sm-3 preview"><img class="preview z-depth-1" src="/assets/img/publication_preview/roundabout_CLS_MLP_IST (2).png"></div>
        <div id="kariotakis2024leveraging" class="col-sm-8">
          <div class="title">Leveraging Sparse Input and Sparse Models: Efficient Distributed Learning in Resource-Constrained Environments</div>
          <div class="author"> <em>E. Kariotakis</em>, G. Tsagkatakis, P. Tsakalides and A. Kyrillidis </div>
          <div class="periodical"><em>Conference on Parsimony and Learning (CPAL), 2024</em></div>
          <div class="links"> 
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a>
            <a href="https://proceedings.mlr.press/v234/kariotakis24a" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">Paper</a> 
          </div>
          <div class="bibtex hidden">
            <pre>@inproceedings{kariotakis2024leveraging,
            title={Leveraging Sparse Input and Sparse Models: Efficient Distributed Learning in Resource-Constrained Environments},
            author={Kariotakis, Emmanouil and Tsagkatakis, George and Tsakalides, Panos and Kyrillidis, Anastasios},
            booktitle={Conference on Parsimony and Learning},
            pages={554--569},
            year={2024},
            organization={PMLR}
          }</pre>
          </div>
        </div>
      </div>
    </li>
  </ol>

  <h2 class="year">2023</h2>
  <ol class="bibliography">
    <li>
      <div class="row">
        <div class="col-sm-3 preview"><img class="preview z-depth-1" src="/assets/img/publication_preview/pgm_with_terminals.jpg"></div>
        <div id="kariotakis2023probabilistic" class="col-sm-8">
          <div class="title">Probabilistic asynchronous inference in wireless networks with spectral clustering</div>
          <div class="author"> <em>E. Kariotakis</em> and A. Bletsas </div>
          <div class="periodical"><em>IEEE European Signal Processing Conference (EUSIPCO), 2023</em></div>
          <div class="links"> 
            <a class="bibtex btn btn-sm z-depth-0" role="button">Bib</a> 
            <a href="https://ieeexplore.ieee.org/abstract/document/10290065" class="btn btn-sm z-depth-0" role="button" target="_blank" rel="noopener noreferrer">Paper</a> 
          </div>
          <div class="bibtex hidden">
            <pre>@inproceedings{kariotakis2023probabilistic,
            title={Probabilistic Asynchronous Inference in Wireless Networks with Spectral Clustering},
            author={Kariotakis, Emmanouil and Bletsas, Aggelos},
            booktitle={2023 31st European Signal Processing Conference (EUSIPCO)},
            pages={1499--1503},
            year={2023},
            organization={IEEE}
          }</pre>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>

